.contDeportes{
    background-color: orange;
    width: 200px;
    height: 50px;
    border: solid;
    border-color: black;
}

.musica{
    background-color: green;
    width: 200px;
    height: 50px;
    border: solid;
    border-color: black;
}

.juegos{
    background-color: blue;
    width: 200px;
    height: 50px;
    border: solid;
    border-color: black;
}